main {
    max-width: 800px !important;
    align-items: normal !important;
}

footer {
    max-width: 800px !important;
}

ul {
    list-style: url('../svg/git-commit.svg');
}

ul > li {
    line-height: 2em;
}

ul > li > ul {
    list-style: url('../svg/git-tag.svg');
}

.content {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.personals {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.socials-icon {
    width: 64px;
    margin-right: 1rem;
}

.portrait {
    margin-left: auto;

}

.portrait > img {
    width: 3.86cm;
    height: 4.98cm;
    border-radius: .5em;
    border: whitesmoke solid 2px;
}

div.subtitle {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-top: 1rem;
}

.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skill > div:first-child {
    min-width: 200px;
    margin-bottom: 1rem;
}

.skill > div:nth-child(2) {

}

.language {
    display: flex;
    flex-direction: column;
}

.language > div {
    display: flex;
    gap: 10px;
    margin-bottom: 0.2rem;
}

div.key {
    min-width: 100px;
}

button#languageToggle {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
    border: 2px solid whitesmoke;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    background-image: url("../img/england-flag.png");
    background-size: 64px 32px;
    background-position: center;
    width: 64px;
    height: 32px;
    cursor: pointer;
}

button#languageToggle:hover {
    filter: grayscale(33%);
    transition-duration: 0.5s;
}

button#languageToggle:active {
    filter: grayscale(100%);
}


@media only screen and (max-width: 600px) {
    .skill {
        flex-direction: column;
    }

    .skill > div:first-child {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 820px) {
    main {
        margin: 1rem !important;
        padding: 1rem !important;
    }

    footer {
        margin: 1rem !important;
    }
}